---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - secret.yaml
  - config-map.yaml
  - deployment.yaml
  - http-route.yaml
  - rbac.yaml
  - service-account.yaml
  - service.yaml

images:
  - name: ghcr.io/gethomepage/homepage
    newTag: v1.4.3

configMapGenerator:
  - name: homepage-config
    literals:
      - HOMEPAGE_ALLOWED_HOSTS=www.dudo.dev
