apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret.yaml
  - config-map.yaml
  - deployment.yaml
  - http-route.yaml
  - rbac.yaml
  - service-account.yaml
  - service.yaml
images:
  - name: ghcr.io/gethomepage/homepage
    newTag: latest
    digest: sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
configMapGenerator:
  - name: homepage-config
    literals:
      - HOMEPAGE_ALLOWED_HOSTS=www.dudo.dev
